body {
    background-color: #DEF5E5;
}

h2 {
    margin: auto;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 30px;
}

img.animated-gif {
    width: 200px;
    height: auto;
}

#tips {
    margin: auto;
    width: 35%;
    padding: 10px;
    font: small-caps bold 22px/1 sans-serif;
}
